@charset "utf-8";

/* 去除空隙 */
* {
  margin: 0;
  padding: 0;
}

/* 去除列表前的点 */
li {
  list-style: none;
}

/* 去除a标签的下划线 */
a {
  color: #000;
  text-decoration: none;
}

a:hover {
  color: #ea5d07;
}

/* 去除i|em|address的默认倾斜样式 */
i,
em,
address {
  font-style: normal;
}

/* 去除图片边框 */
img {
  border: 0;
  /* 解决黑边框问题 */
  display: block;
}

/* 显示隐藏的元素 */
.show {
  display: block !important;
}

/* 隐藏元素 */
.hidden {
  display: none !important;
}

/* 标题多出部分显示... */
.one_dot_hide {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Firefox */
  /* display: -moz-box; */
  /* -moz-line-clamp: 1; */
  /* Safari、Opera、Chrome */
  /* display: -webkit-box; */
  /* -webkit-line-clamp: 1; */
}

/* 两行显示，多出来的显示... */
.two_dot_hide {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Firefox */
  display: -moz-box;
  -moz-line-clamp: 2;
  -moz-box-orient: vertical;
  /* Safari、Opera、Chrome */
  display: -webkit-box;
  /* 盒子垂直对齐 */
  -webkit-box-orient: vertical;
  box-orient: vertical;
  /* 两行 */
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

/* 超过三行的显示... */
.three_dot_hide {
  overflow: hidden;
  text-overflow: ellipsis;
  /* Firefox */
  display: -moz-box;
  -moz-line-clamp: 3;
  -moz-box-orient: vertical;
  /* Safari、Opera、Chrome */
  display: -webkit-box;
  /* 盒子垂直对齐 */
  -webkit-box-orient: vertical;
  box-orient: vertical;
  /* 3行 */
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

/* 清除浮动的样式 */
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

/* 兼容IE */
.clearfix {
  zoom: 1;
}


/* ==================网站公用样式================== */
body {
  font-family: 'Microsoft Yahei';
  background: #E9EAED;
}

/* 最上方的渐变条 */
body::before {
  content: '';
  width: 100%;
  height: 5px;
  background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
  position: absolute;
  top: 0;
}

#header {
  /* width: 100%; */
  background-color: white;
  padding: 1em 0.5em;
}

/* PC下设置最小宽度 */
.navbox {
  width: 57%;
  min-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

/* logo左浮动 */
.navbox .logo {
  float: left;
}

/* nav右浮动 */
#nav {
  float: right;
}

/* 移动端的菜单栏默认隐藏 */
.navbox h2 .icon-caidan {
  display: none;
}

/* Logo大小 */
.logo {
  padding-right: 40px;
}

.logo a {
  width: 260px;
  height: 60px;
  display: inline-block;
  background: url(../../images/logo.gif) no-repeat center;
  /* 等比例缩放能完全放到容器为止 */
  background-size: contain;
}

/* 当前页面对应的nav标签 */
.active a {
  color: #e15782;
}

/* 实现类似于浮动的效果 */
#nav li {
  /* line-height: 22px; */
  padding: 20px 20px 0 10px;
  /* 移动端的时候点菜单图标取消这个属性 */
  display: inline-block;
}

/* nav的a标签设置相对定位 */
#nav li a {
  position: relative;
  display: block;
}

/* 中文 */
#nav a span:first-child {
  display: block;
  font-size: 20px;
}

/* 英文 */
#nav a span:last-child {
  opacity: 0;
  display: block;
  color: #999;
  font: 12px Georgia, serif;
  text-align: center;
  transition: all 1s ease;
}

#nav a:hover span:last-child,
#nav a:focus span:last-child {
  opacity: 1;
  transform: translateY(20%);
}

/* 搜索图标 */
#nav li:last-child a {
  font-weight: bold;
  vertical-align: auto;
  cursor: pointer;
}

/* 搜索栏，单击搜索图标出现 */
.search {
  width: 49%;
  margin: 0 auto;
  text-align: center;
  border: black 1px solid;
  display: none;
  transition: all 3s ease 3s;
}

.search input {
  border: 0;
  /* 去除轮廓 */
  outline: none;
  font-size: 20px;
  line-height: 40px;
}

.search #keyboard {
  width: 68%;
  color: rgba(0, 0, 0, 0.7);
  padding: 0 1%;
}

.search #submit {
  width: 30%;
  color: white;
  background-color: black;
  cursor: pointer;
}

/* ======main相关样式====== */
main {
  width: 90%;
  margin: 15px auto 0 auto;
  overflow: hidden;
}

/* 主体文章 */
article {
  float: left;
  width: 75%;
}

/* 侧边栏 */
aside {
  width: 20%;
  /* float: right; */
  float: left;
  padding-left: 2em;
}

/* 白色背景区域 */
.bg_white {
  background-color: white;
  padding: 20px;
  margin-bottom: 20px;
  /* 边框圆角显示 */
  border-radius: 6px;
  overflow: hidden;
}

/* 防止图片太亮(如果有问题就去除) */
.imgscale {
  background: rgba(0, 0, 0, 0.8);
}

/* 图片放大效果 */
.imgscale img {
  width: 100%;
  /* 如果有问题就去除height */
  height: 100%;
  opacity: 0.7;
  transition: all 500ms ease;
}

/* 改元素下的图片hover的时候会放大 */
.imgscale:hover img {
  opacity: 0.9;
  transform: scale(1.1);
}

/* 广告样式 */

.ad img {
  width: 100%;
}

.ad p {
  overflow: hidden;
}

/* ===设置li前五个的i的样式和文本(建议放在ul父div中)=== */
/* 序号样式 */
.top5_list li i {
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  margin-top: 6px;
  margin-right: 10px;
  position: relative;
  background: rgba(0, 0, 0, 0.6);
}

.top5_list li i::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  color: #fff;
  font-size: 9px;
  line-height: 20px;
  text-align: center;
}

/* 第1个i演示为橙色 */
.top5_list li:nth-child(1) i {
  background: #ea5c09;
}

/* 第1个i的序号 */
.top5_list li:nth-child(1) i::before {
  content: "1";
}

/* 第2个i演示为蓝色 */
.top5_list li:nth-child(2) i {
  background: #0493e6;
}

/* 第2个i的序号 */
.top5_list li:nth-child(2) i::before {
  content: "2";
}

/* 第3个i演示为绿色 */
.top5_list li:nth-child(3) i {
  background: #037913;
}

/* 第3个i的序号 */
.top5_list li:nth-child(3) i::before {
  content: "3";
}

/* 第4个i的序号 */
.top5_list li:nth-child(4) i::before {
  content: "4";
}

/* 第5个i的序号 */
.top5_list li:nth-child(5) i::before {
  content: "5";
}

/* hover的时候序号为黑灰色 */
.top5_list li:hover i {
  background: #222;
  transition: all 500ms ease;
}

/* ======专栏系列====== */
/* h1~h6标签的头部样式 */
.htitle {
  font-size: 16px;
  line-height: 40px;
  border-bottom: 1px solid #eee;
  color: #484848;
  font-weight: normal;
  position: relative;
  margin-bottom: 10px;
}

/* 标题加个下划线 */
.htitle::after {
  content: '';
  width: 60px;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #000;
  transition: all 500ms ease;
}

/* 为了动画的效果 */
.htitle:hover:after {
  width: 80px;
}

/* 标题后侧的导航 */
.hnav {
  float: right;
}

/* 导航分类左对齐 */
.hnav a {
  float: left;
  display: block;
  margin-right: 10px;
  padding-right: 10px;
  position: relative;
}

/* 分类后面有个/来间隔 */
.hnav a:after {
  content: "/";
  color: #ccc;
  position: relative;
  right: -10px;
  bottom: 0;
}

/* 去除最后一个/ */
.hnav a:last-child::after {
  content: '';
}

/* ======侧边栏相关====== */

/* 标签云|文章分类 */
.cloud div {
  /* 父类加了这个，子类就可以跳出（显示效果好点） */
  transform-style: preserve-3d;
}

.cloud div a {
  /* float: left; */
  display: inline-block;
  /* height: 24px; */
  line-height: 24px;
  padding: 3px 10px;
  margin: 10px 5px 0 0;
  border-radius: 3px;
  color: #FFF;
  /* 默认背景 */
  background: #999;
  /* 设置初始值（解决边角小bug） */
  transform: perspective(700px) translateZ(0);
  transition: all 500ms ease;
}

/* 特效 */
.cloud div a:hover {
  border-radius: 0;
  /* 让字显示的更清晰 */
  text-shadow: #000 1px 1px 1px;
  /* 迎面扑来的效果 */
  transform: perspective(700px) translateZ(100px);
}

/* 颜色循环系列 */
.cloud div a:nth-child(8n-7) {
  background: #83AF9B;
}

.cloud div a:nth-child(8n-6) {
  background: #FE4365;
}

.cloud div a:nth-child(8n-5) {
  background: #f16b17;
}

.cloud div a:nth-child(8n-4) {
  background: #2AB8AD;
}

.cloud div a:nth-child(8n-3) {
  background: #FC9D9A;
}

.cloud div a:nth-child(8n-2) {
  background: #E2C52E;
}

.cloud div a:nth-child(8n-1) {
  background: #8A9B0F;
}

.cloud div a:nth-child(8n) {
  background: #036564;
}

/* 第一个特殊色 */
.cloud div a:first-child {
  background: #000000ba;
}

/* 最后一个特殊色 */
.cloud div a:last-child {
  background: #3299BB;
}

/*侧边栏相关文章的第一个图片文章*/
.topnew {
  display: block;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  border-radius: 3px;
  max-height: 110px;
}

/* 图片上的标题 */
.topnew span {
  color: #FFF;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  padding: 0 40px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30%;
  overflow: hidden;
}

/* 侧边栏ul列表样式 */
.aside_list ul {
  overflow: hidden;
}

.aside_list ul li {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
  /* 这边就不去一个个加...样式了 */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 设置个过渡动画 */
.aside_list li a:hover {
  padding-left: 10px;
  transition: all 500ms ease-out;
}

/* top5_list只有前5个，这边加一下 */
.aside_list ul li:nth-child(6) i::before {
  content: "6";
}

.aside_list ul li:nth-child(7) i::before {
  content: "7";
}

.aside_list ul li:nth-child(8) i::before {
  content: "8";
}

/* ======友情链接====== */
.links li {
  float: left;
  width: 32%;
  line-height: 30px;
  text-align: center;
}

.links li:hover {
  background: #f7f7f7;
}

/* ======文章列表====== */
.bloglist li {
  overflow: hidden;
  min-height: 120px;
  padding: 15px;
  border-bottom: #eee 1px dashed;
  position: relative;
}

/* 标题长度不用太在意（文章标题再长也不能3行吧?） */
.blogtitle {
  margin: 0 0 10px 0;
  font-size: 18px;
  overflow: hidden;
}

/* 置顶用红色字 */
.blogtitle strong {
  color: #F00
}

/* 给a加个过渡动画 */
.blogtitle a {
  transition: all 500ms ease;
}

/* 右移效果 */
.blogtitle a:hover {
  color: #337ab7;
  padding-left: 1em;
}

/* 展图左浮动样式 */
.blogpic {
  float: left;
  width: 23.2%;
  margin-right: 20px;
  display: block;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

/* 展图上的分类名 */
.blogpic i {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  font-style: normal;
  padding: 3px 5px;
  background: rgba(18, 182, 221, .8);
  font-size: 14px;
}

/* 分类名字体颜色 */
.blogpic i a {
  color: #FFF;
}

/* 内容简介 */
.blogtext {
  color: #666;
  margin-top: 20px;
  line-height: 30px;
  /* 兼容IE9 */
  max-height: 120px;
  overflow: hidden;
}

/* 作者、时间、分类、阅读更多 */
.bloginfo {
  margin-top: 20px;
  overflow: hidden;
  color: #999;
  line-height: 30px;
}

/* 作者+时间+分类 */
.bloginfo div:first-child {
  float: left;
}

/* 阅读更多 */
.bloginfo div:last-child {
  float: right;
}

/* 作者头像 */
.bloginfo i {
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  padding: 2px;
  display: block;
  position: relative;
  /* 边框 */
  background: linear-gradient(to top right, rgba(0, 153, 255, .9), rgba(42, 228, 197, .7));
}

/* 方图变圆图 */
.bloginfo i img {
  width: 100%;
  border-radius: 50%;
}

/* 加V标志 */
.bloginfo i::after {
  content: '';
  background: url(../../images/v.png) no-repeat;
  background-size: 12px;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* 控制下间隙 */
.bloginfo span {
  padding: 0 5px;
}

/* 分类颜色 */
.bloginfo span a {
  color: #096;
}

/* 阅读更多 */
.bloginfo .viewmore {
  display: block;
  padding: 5px 10px;
  color: #fff;
  background: #12b7de;
  border-radius: 5px;
}

/* ======文章底部分页====== */
.pagelist {
  width: 100%;
  color: #666;
  text-align: center;
  padding-top: 27px;
}

/* index标签样式 */
.pagelist a {
  display: inline-block;
  color: #666;
  background: #F7F7F7;
  margin: 0 5px 10px;
  padding: 5px 10px;
}

/* 鼠标hover效果和加粗效果 */
.pagelist a:hover,
.pagelist strong {
  color: #3690cf;
  color: #FFF;
  background: #1C2327;
}

/* 加粗 */
.pagelist strong {
  padding: 5px 10px;
}

/* ======页面页脚====== */
footer.clearfix {
  width: 100%;
  color: #73777a;
  font-size: 15px;
  padding: 30px 0;
  background: #373D41;
  border-top: #00C1DE 10px solid;
  overflow: hidden;
}

/* 居中显示 */
.copyright {
  width: 60%;
  min-width: 980px;
  margin: 0 auto;
}

/* 页脚字体颜色 */
.copyright a {
  color: #a7a8a9;
}

.copyright a:hover {
  color: #00C1DE;
}

.copyright ul {
  float: left;
  /* overflow: hidden; */
  padding: 0 20px;
  /* 方便子类脱离的动画效果 */
  transform-style: preserve-3d;
}

.copyright ul li {
  float: left;
  padding: 0 10px;
  text-align: center;
}

/* 约束一下二维码 */
.copyright img {
  max-height: 100px;
  /* 设置初始值 */
  transform: perspective(700px) translateZ(0);
  transition: all 500ms ease;
}

.copyright img:hover {
  transform: perspective(700px) translateZ(100px);
}

/* 加粗声明 */
.copyright strong {
  font-size: 16px;
  color: #00c1de;
}

/* 段落间距 */
.copyright p {
  padding-bottom: 5px;
}

/* 去除mark标签的影响+PC端隐藏 */
.copyright mark {
  display: none;
  text-align: center;
  color: #a7a8a9;
  background: none;
}

/* 图标颜色 */
.copyright p i {
  color: #eaa607;
}

/* 置顶和返回底部 */
#tbox {
  line-height: 50px;
  right: 50px;
  bottom: 15%;
  position: fixed;
}

#tbox a.iconfont {
  font-size: 50px;
}

/* 设置置顶和到达底部的间隙 */
#tbox a:first-child {
  margin: 10px 0;
}

.top,
.bottom {
  width: 50px;
  height: 50px;
  display: block;
  color: white;
  border-radius: 6px;
  background-color: black;
}

.top:hover,
.bottom:hover {
  /* 去除其他a样式的影响 */
  color: white;
  background-color: rgba(0, 0, 0, 0.4);
}

/* ==================响应式布局================== */
/* 屏幕小于等于1200px使用如下CSS（非宽屏） */
@media screen and (max-width: 1200px) {
  main {
    width: 95%;
  }

  /* 文章宽屏显示 */
  main article,
  .copyright {
    width: 100%;
  }

  /* 侧边栏隐藏 */
  main aside {
    display: none;
  }

  /* 页脚宽屏显示 */
  .copyright {
    width: 100%;
    min-width: auto;
  }

}

/* 屏幕小于等于1000px（iPad） */
@media screen and (max-width: 1000px) {

  /* top部分改造一下 */
  .navbox {
    width: 100%;
    min-width: 260px;
    text-align: left;
  }

  .navbox .logo,
  .navbox #nav {
    float: none;
  }

  /* 显示菜单栏 */
  .navbox h2 .icon-caidan {
    display: block;
    float: right;
    font-size: 55px;
  }

  /* 点菜单图标后再显示 */
  .navbox #nav {
    text-align: center;
    display: none;
  }

  /* 导航换行显示 */
  .navbox #nav li {
    display: block;
  }

  /* 搜索框 */
  #header .search {
    width: 90%;
    margin-top: 1em;
  }

  /* 分页列表不显示总数 */
  .pagelist a:first-child {
    display: none;
  }
}

/* 屏幕小于等于767px（iPhone） */
@media screen and (max-width: 767px) {

  /* 隐藏最新文章的图片 */
  .new_tabs .new_item .new_pic {
    float: none;
    display: none;
  }

  /* 宽屏显示最新文章的文字 */
  .new_tabs .new_item .new_list {
    float: none;
    width: 100%;
  }

  /* 文章列表的图片样式 */
  .bloglist li .blogpic {
    width: 100%;
    float: none;
  }

  /* 文章信息的时间去除 */
  .bloglist li .bloginfo time {
    display: none;
  }

  /* 移动端就不翻页了，最新文章就那么多 */
  .pagelist {
    display: none;
  }

  /* 移动端footer */
  footer.clearfix {
    padding: 15px 0;
  }

  /* 版权信息不需要了 */
  .copyright ul,
  .copyright p {
    display: none;
  }

  /* 显示简洁版本的版权信息 */
  .copyright mark {
    display: block;
  }
}