@charset "utf-8";

/* 去除空隙 */
* {
    margin: 0;
    padding: 0;
}

/* 去除列表前的点 */
li {
    list-style: none;
}

/* 去除a标签的下划线 */
a {
    color: #2b2a2a;
    text-decoration: none;
}

/* 去除i|em|address的默认倾斜样式 */
i,
em,
address {
    font-style: normal;
}

/* 去除图片边框 */
img {
    border: 0;
    /* 解决黑边框问题 */
    display: block;
}

/* 显示隐藏的元素 */
.show {
    display: block !important;
}

/* 隐藏元素 */
.hidden {
    display: none !important;
}

/* 标题多出部分显示... */
.one_dot_hide {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

/* 两行显示，多出来的显示... */
.two_dot_hide {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /* Firefox */
    display: -moz-box;
    -moz-line-clamp: 2;
    -moz-box-orient: vertical;
    /* Safari、Opera、Chrome */
    display: -webkit-box;
    /* 盒子垂直对齐 */
    -webkit-box-orient: vertical;
    box-orient: vertical;
    /* 两行 */
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

/* 超过三行的显示... */
.three_dot_hide {
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /* Firefox */
    display: -moz-box;
    -moz-line-clamp: 3;
    -moz-box-orient: vertical;
    /* Safari、Opera、Chrome */
    display: -webkit-box;
    /* 盒子垂直对齐 */
    -webkit-box-orient: vertical;
    box-orient: vertical;
    /* 3行 */
    -webkit-line-clamp: 3;
    line-clamp: 3;
}

/* 清除浮动的样式 */
.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.clearfix::after {
    clear: both;
}

/* 兼容IE */
.clearfix {
    zoom: 1;
}

/* ==================网站公用样式================== */
.bg_white {
    background-color: #fff;
    /* 4px */
    padding: .2rem;
    /* 8px; */
    margin: .4rem auto;
    /* 4px */
    border-radius: .2rem;
    overflow: hidden;
}

/* 背景色 */
.imgscale {
    background: rgba(0, 0, 0, 0.8);
}

/* 图片样式 */
.imgscale img {
    width: 100%;
    opacity: 0.7;
    transition: all 500ms ease;
}

/* hover动画 */
.imgscale:hover img {
    opacity: 0.9;
    transform: scale(1.1);
}

/* 有时候手机端底部导航有点问题，需要外部一个绝对定位的包裹容器 */
/* PS：淘宝也是这么干的 */
.container {
    /* 占满整个容器 */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-family: 'Microsoft Yahei';
    background: #e9eaed;
}

/* ======头部====== */
#header {
    position: relative;
    /* 50px */
    height: 2.5rem;
    overflow: hidden;
    background-color: white;
}

/* 彩色条 */
#header::after {
    content: '';
    width: 100%;
    /* 3px */
    height: .15rem;
    background: #000 linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    position: absolute;
    bottom: 0;
}

/* 设置图标大小 */
#header a {
    /* 25px */
    font-size: 1.25rem;
}

/* 扫一扫图标 */
#header a:first-child {
    position: absolute;
    /* 12px */
    top: .6rem;
    /* 15px */
    left: .75rem;
}

/* 搜索图标 */
#header a:last-child {
    position: absolute;
    /* 12px */
    top: .6rem;
    /* 15px */
    right: .75rem;
}

/* logo */
#header .logo {
    /* 100px */
    width: 5rem;
    /* 24px */
    height: 1.2rem;
    /* 13px */
    margin: .65rem auto;
    background: url(../../images/logo.gif) no-repeat center;
    background-size: contain;
}

/* ======主体====== */
main {
    position: absolute;
    left: 0;
    right: 0;
    /* 50px */
    top: 2.5rem;
    bottom: 2.5rem;
    /* x轴多余部分隐藏 */
    overflow-x: hidden;
    /* y轴可以出现滚动条 */
    overflow-y: auto;
}

/* ======banner====== */
.banner {
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
}

.banner img {
    width: 100%;
}

/* ======菜单====== */
main nav li {
    float: left;
    width: 33%;
    text-align: center;
    /* 10px */
    padding: .5rem 0;
}

/* 图标和字体两行显示 */
main nav span {
    display: block;
}

/* 底部字体小一点 */
main nav .text {
    /* 10px */
    font-size: .5rem;
}

/* 图标大小 */
main nav span.iconfont {
    /* 30px; */
    font-size: 1.5rem;
    font-weight: bold;
    /* 加个过渡动画 */
    transition: all 1s ease;
}

/* 菜单图标添加hover动画 */
main nav span:hover {
    color: black !important;
}

/* 新闻 */
main li:nth-child(1) span.iconfont {
    color: #ec617a;
}

/* 专业 */
main li:nth-child(2) span.iconfont {
    color: #ea5c09;
    /* 这个图标以及很粗了 */
    font-weight: normal;
}

/* 生活 */
main li:nth-child(3) span.iconfont {
    color: #8a9b0f;
}

/* 国学 */
main li:nth-child(4) span.iconfont {
    color: #1a8236;
}

/* 资源 */
main li:nth-child(5) span.iconfont {
    color: #0493e6;
    /* 这个图标以及很粗了 */
    font-weight: normal;
}

/* 实验 */
main li:nth-child(6) span.iconfont {
    color: #b04be2;
}

/* ======文章列表====== */
.htitle {
    /* 14px */
    font-size: .7rem;
    /* 30px */
    line-height: 1.5rem;
    /* 1px */
    border-bottom: .05rem solid #eee;
    color: #484848;
    position: relative;
    /* 10px */
    padding-left: .5rem;
    /* margin-bottom: .5rem; */
}

/* 生成一个下划线 */
.htitle::after {
    content: '';
    /* 54px */
    width: 2.7rem;
    /* 1px */
    height: .05rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #000;
    margin-left: 0.5rem;
    transition: all 500ms ease;
}

/* 下划线延长 */
.htitle:hover:after {
    /* 66px */
    width: 3.3rem;
}

/* 最后一篇文章底部留白 */
.bloglist ul {
    /* 10px */
    padding-bottom: 0.5rem;
}

/* 文章列表的每一项 */
.bloglist li {
    overflow: hidden;
    /* 120px */
    min-height: 6rem;
    /* 15px */
    padding: .75rem;
    /* 1px */
    border-bottom: #eee .05rem dashed;
    position: relative;
}

/* 文章标题 */
.blogtitle {
    /* 6px */
    margin: 0 0 .3rem 0;
    /* 16px */
    font-size: .8rem;
    overflow: hidden;
}

/* 置顶字眼 */
.blogtitle strong {
    color: red;
}

/* 设置过渡动画 */
.blogtitle a {
    transition: all 500ms ease;
}

/* hover动画 */
.blogtitle a:hover {
    color: #337ab7;
    /* 10px */
    padding-left: .5rem;
}

/* 展图 */
.bloglist li .blogpic {
    width: 100%;
    /* 20px */
    margin-right: 1rem;
    display: block;
    overflow: hidden;
    /* 5px */
    border-radius: .25rem;
    position: relative;
}

/* 展图上的分类 */
.blogpic i {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    font-style: normal;
    /* 3px 5px */
    padding: .15rem .25rem;
    background: rgba(18, 182, 221, .8);
    /* 14px */
    font-size: .7rem;
}

/* 展图文字颜色 */
.blogpic i a {
    color: #fff;
}

/* 文章简介 */
.blogtext {
    color: #666;
    /* 8px */
    margin-top: .4rem;
    /* 24px */
    line-height: 1.2rem;
    /* 120px */
    max-height: 6rem;
    color: #666;
    font-size: .7rem;
    overflow: hidden;
}

/* 作者信息 */
.bloginfo {
    color: #999;
    /* 30px */
    line-height: 1.5rem;
    /* 16px */
    font-size: 0.8rem;
    /* 10px */
    margin-top: .5rem;
    overflow: hidden;
}

/* 信息 */
.bloginfo div:first-child {
    float: left;
    /* 4px 和阅读更多基本对齐 */
    padding-top: .2rem;
}

/* 阅读更多 */
.bloginfo div:last-child {
    float: right;
}

/* 头像 */
.bloginfo i {
    float: left;
    /* 30px */
    width: 1.5rem;
    height: 1.5rem;
    /* 变成圆 */
    border-radius: 50%;
    /* 2px */
    padding: .1rem;
    display: block;
    position: relative;
    /* 线性渐变 */
    background: linear-gradient(to top right, rgba(0, 153, 255, .9), rgba(42, 228, 197, .7));
}

/* 头像也变成圆 */
.bloginfo i img {
    width: 100%;
    border-radius: 50%;
}

/* 添加一个认证标志 */
.bloginfo i::after {
    content: '';
    background: url(../../images/v.png) no-repeat;
    /* 12px */
    background-size: .6rem;
    width: .6rem;
    height: .6rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

/* 作者和时间距离头像留白 */
.bloginfo time,
.bloginfo span:nth-of-type(1) {
    /* 6px */
    padding-left: .3rem;
}

/* 分类字体颜色 */
.bloginfo span a {
    color: #096;
}

.bloginfo .viewmore {
    display: block;
    /* 4px 6px */
    padding: .2rem .3rem;
    color: #fff;
    background: #12b7de;
    /* 5px */
    border-radius: .25rem;
}

/* ===版权信息=== */
#main footer {
    width: 100%;
    color: #73777a;
    /* 15px */
    font-size: .75rem;
    /* 20px */
    padding: 1rem 0;
    background: #373d41;
    /* 4px */
    border-top: #00c1de .2rem solid;
    overflow: hidden;
}

.copyright {
    text-align: center;
    margin: 0 auto;
}

.copyright a {
    color: #a7a8a9;
}

.copyright a:hover {
    color: #00c1de;
}

/* 置顶 */
#tbox {
    /* 50px */
    line-height: 2.5rem;
    /* 20px */
    right: 1rem;
    bottom: 12%;
    position: fixed;
}

#tbox a {
    /* 50px */
    font-size: 2.5rem;
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    color: #fff;
    /* 6px */
    border-radius: .3rem;
    background-color: #000;
}

#tbox a:hover {
    color: #fff;
    background-color: rgba(0, 0, 0, .4);
}

/* ======底部====== */
#footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* 50px */
    height: 2.5rem;
    background-color: white;
    overflow: hidden;
}

#footer::before {
    content: '';
    width: 100%;
    /* 3px */
    height: .1rem;
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    position: absolute;
    top: 0;
}

#footer li {
    float: left;
    width: 25%;
    text-align: center;
    /* 7px */
    padding-top: .35rem;
    /* 20px */
    line-height: 1rem;
}

/* 转换成盒子模型 */
#footer span {
    display: block;
}

/* 图标字体大些 */
#footer span.iconfont {
    /* 25px */
    font-size: 1.25rem;
}

/* 底部字体小一点 */
#footer .text {
    font-size: .5rem;
}

/* 手机屏幕 */
@media screen and (max-width: 414px) {

    /* 隐藏作者姓名(看头像就ok了) */
    .bloginfo span:nth-of-type(1) {
        display: none;
    }
}